# Virtual environment
.venv/
venv/
ENV/

# Python cache & compiled files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller builds & executables
build/
dist/
*.spec
releases/

# IDE config & settings
.vscode/
.idea/
.ipynb_checkpoints/
